.business > .banner {
  height: 370px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-image-set(url("/public/assets/business/banner.png") 1x, url("/public/assets/business/banner@2x.png") 2x, url("/public/assets/business/banner@3x.png") 3x);
  background-image: image-set(url("/public/assets/business/banner.png") 1x, url("/public/assets/business/banner@2x.png") 2x, url("/public/assets/business/banner@3x.png") 3x);
  text-align: center;
  padding-top: 234px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.business > .banner > .title {
  font-size: 39px;
  font-weight: bold;
  color: white;
}

.business > .building-care {
  width: 100%;
  height: 1093px;
  background-color: #f8f8f8;
}

.business > .building-care > .pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 97px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.business > .building-care > .pack > .left > .category {
  width: 147px;
  height: 33px;
  background-color: #40ccc7;
  font-weight: bold;
  border-radius: 16.5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 11px;
  font-family: 'gmarket';
}

.business > .building-care > .pack > .left > .title {
  margin-top: 19px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.26;
  color: var(--navy);
}

.business > .building-care > .pack > .right {
  display: -ms-grid;
  display: grid;
  row-gap: 20px;
}

.business > .building-care > .pack > .right > .card {
  width: 524px;
  height: 198px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding-left: 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.business > .building-care > .pack > .right > .card > img {
  width: 120px;
  height: 120px;
}

.business > .building-care > .pack > .right > .card > .content {
  margin-left: 43px;
}

.business > .building-care > .pack > .right > .card > .content > .title {
  font-size: 25px;
  position: relative;
}

.business > .building-care > .pack > .right > .card > .content > .title > .tl {
  z-index: 10;
  position: relative;
}

.business > .building-care > .pack > .right > .card > .content > .title > .back {
  position: absolute;
  width: 110%;
  height: 21px;
  background-color: #a5e6e2;
  left: -5%;
  bottom: -3px;
  z-index: 5;
}

.business > .building-care > .pack > .right > .card > .content > .sub {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;
  white-space: pre-line;
}

.business > .purify-one {
  width: 100%;
  height: 1596px;
  background-color: #f8f8f8;
  padding-top: 162px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.business > .purify-one > .pack > .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.business > .purify-one > .pack > .top > .left > .category {
  width: 162px;
  height: 33px;
  border-radius: 16.5px;
  color: white;
  background-color: #40ccc7;
  font-size: 11px;
  font-weight: bold;
  font-family: 'gmarket';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.business > .purify-one > .pack > .top > .left > .title {
  font-size: 36px;
  color: var(--navy);
  margin: 9px 0;
}

.business > .purify-one > .pack > .top > .left > .sub {
  font-size: 20px;
}

.business > .purify-one > .pack > .top > img {
  width: 167px;
  height: 167px;
}
/*# sourceMappingURL=index.css.map */