.summary {
  height: 741px;
  width: 100%;
}

.summary > .pack {
  height: 100%;
  position: relative;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.summary > .pack > .back {
  left: 400px;
  top: 305px;
  position: absolute;
  height: 306px;
  width: 100vw;
  background-color: var(--navy);
  z-index: -1;
}

.summary > .pack > .backimg {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 93px;
  z-index: -2;
  left: -200px;
}

.summary > .pack > .content-wrapper {
  color: white;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  padding-left: 52.8px;
  padding-top: 346px;
}

.summary > .pack > .content-wrapper > .title {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.26;
}

.summary > .pack > .content-wrapper > .line {
  width: 24px;
  height: 4px;
  background-color: white;
  margin-top: 18px;
  margin-bottom: 9px;
}

.summary > .pack > .content-wrapper > .sub {
  line-height: 1.59;
  font-size: 17px;
}

.hoodsummary {
  height: 747px;
}

.hoodsummary > .pack > .back {
  height: 267px;
  top: 328px;
}

.hoodsummary > .pack > .backimg {
  top: 73px;
}

.hoodsummary > .pack > .content-wrapper {
  padding-top: 369px;
}

.airsummary {
  height: 715px;
}

.airsummary > .pack > .back {
  height: 270px;
}

.airsummary > .pack > .backimg {
  top: 83px;
}

.filtersummary {
  height: 715px;
}

.filtersummary > .pack > .back {
  height: 287px;
}

.filtersummary > .pack > .backimg {
  top: 88px;
}

.matsummary {
  height: 741px;
}

.matsummary > .pack > .back {
  height: 342px;
}

.homecleansummary > .pack > .back {
  background-color: var(--shamrock);
}

.businesssummary > .pack > .back {
  background-color: #40ccc7;
}

.businesssummary > .pack > .content-wrapper {
  color: var(--navy);
}

.businesssummary > .pack > .content-wrapper > .line {
  background-color: var(--navy);
}

.birdsummary > .pack > .back {
  height: 319px;
}

.birdsummary > .pack > .backimg {
  top: 106px;
}

.bugsummary {
  height: 879px;
}

.bugsummary > .pack > .back {
  height: 328px;
}

.bugsummary > .pack > .backimg {
  top: 91px;
}

.bugsummary > .pack > .content-wrapper {
  padding-top: 365px;
}

.buildingsummary > .pack > .back {
  height: 495px;
  top: 172px;
}

.buildingsummary > .pack > .backimg {
  top: 66px;
}

.buildingsummary > .pack > .content-wrapper {
  padding-top: 231px;
}

.buildingsummary > .pack > .content-wrapper > .category-wrapper {
  margin-top: 38px;
}

.buildingsummary > .pack > .content-wrapper > .category-wrapper > div {
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.buildingsummary > .pack > .content-wrapper > .category-wrapper > div > div {
  height: 41px;
  background-color: white;
  border-radius: 20.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--navy);
}

.buildingsummary > .pack > .content-wrapper > .category-wrapper > .one {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (102px)[3];
      grid-template-columns: repeat(3, 102px);
  margin-bottom: 12px;
}

.buildingsummary > .pack > .content-wrapper > .category-wrapper > .two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (102px)[4];
      grid-template-columns: repeat(4, 102px);
}

.aircaresummary {
  height: 706px;
}

.aircaresummary > .pack > .back {
  top: 204px;
  height: 287px;
}

.aircaresummary > .pack > .content-wrapper {
  padding-top: 263px;
  padding-left: 0;
}

.aircaresummary > .pack > .content-wrapper > .sub {
  font-size: 16px;
}

.aircaresummary > .pack > .content-wrapper > .line {
  margin-top: 20.5px;
  margin-bottom: 17.5px;
}

.aircaresummary > .pack > .backimg {
  top: 83px;
}

.airfiltersummary {
  height: 763px;
}

.airfiltersummary > .pack > .back {
  height: 299px;
  top: 188px;
}

.airfiltersummary > .pack > .backimg {
  top: 69px;
}

.airfiltersummary > .pack > .content-wrapper {
  padding-top: 236px;
  padding-left: 0;
}

.airfiltersummary > .pack > .content-wrapper > .line {
  margin-top: 17.5px;
  margin-bottom: 20.5px;
}

.purifysummary {
  height: 744px;
}

.purifysummary > .pack > .back {
  height: 187px;
  top: 291px;
}

.purifysummary > .pack > .backimg {
  top: 83px;
}

.purifysummary > .pack > .content-wrapper {
  padding-left: 0;
  padding-top: 339px;
}

@media screen and (max-width: 1024px) {
  .summary {
    height: 471px;
  }
  .summary > .pack > .back {
    height: 216px;
    left: 200px;
    top: 175px;
  }
  .summary > .pack > .backimg {
    width: 384px;
    height: 255px;
    top: 28px;
    left: -63px;
  }
  .summary > .pack > .content-wrapper {
    padding-top: 209px;
    padding-left: 20px;
  }
  .summary > .pack > .content-wrapper > .title {
    font-size: 23px;
  }
  .summary > .pack > .content-wrapper > .line {
    width: 13.2px;
    margin: 9px 0;
  }
  .summary > .pack > .content-wrapper > .sub {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .summary {
    height: 613px;
  }
  .summary > .pack > .backimg {
    width: 319px;
    height: 212px;
    top: 55px;
    left: -40px;
  }
  .summary > .pack > .back {
    top: 231px;
    height: 241px;
    left: 35px;
  }
  .summary > .pack > .content-wrapper {
    padding-top: 267px;
    padding-left: 0;
  }
  .summary > .pack > .content-wrapper > .title {
    font-size: 18px;
  }
  .summary > .pack > .content-wrapper > .line {
    width: 12.5px;
    margin: 11px 0;
  }
  .summary > .pack > .content-wrapper > .sub {
    font-size: 13px;
  }
}
/*# sourceMappingURL=index.css.map */