.careone{

      height: 1482px;
      width: 100%;
      padding-top: 140px;
      box-sizing: border-box;
      &>.pack{
        &>.category{
          background-color: var(--navy);
            width: 162px;
  height: 33px;
         font-family: 'gmarket';
         font-size: 11px;
         font-weight: bold;
         color: white;
         border-radius: 25px;
         display: flex;
         align-items: center;
         justify-content: center;
        }
        &>.title{
          font-size: 30px;
          font-weight: 500;
          white-space: nowrap;
          line-height: 1.33;
          color: var(--navy);
          &>.circle{
            font-size: 30px;
             text-emphasis-style: dot;
  text-emphasis-position: over left;
  -webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: over;
             text-emphasis-color: #76c7d3;
             position: relative;
             &>.circle-wrapper{
               position: absolute;
               top: 0;
             }
          }
        }
        &>.sub{
          font-size: 20px;
          margin-top: 17px;
        }
        &>.list{
          display: grid;
          grid-template-columns: repeat(4,237px);
          column-gap: 15px;
          margin-top: 47px;
          row-gap: 53px;
          &>.card{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            &>.number{
              position: absolute;
              top: -19px;
              width: 38px;
              height: 38px;
              border-radius: 38px;
              background-color: var(--navy);
              color: white;
              font-family: 'gmarket';
              font-weight: bold;
              font-size: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &>.title{
              margin-top: 8.2px;
              font-size: 18px;
              font-weight: 500;
            }
          }
        }
      }
}
.washclean{
  height: 1153px;
  &>.pack{
    padding: 0 125px;
    box-sizing: border-box;
    &>.list{
      grid-template-columns: repeat(3,237px);
    }
  }
}
.hoodclean,.filterclean,.matclean{
  height: 1072px;
  padding-top: 183px;
  &>.pack{
    padding: 0 125px;
    box-sizing: border-box;
    &>.list{
      grid-template-columns: repeat(3,237px);
    }
  }
}
.airclean{
  height: 1195px;
  padding-top: 177px;
  &>.pack{
    box-sizing: border-box;
    padding: 0 125px;
    &>.list{
            grid-template-columns: repeat(3,237px);
    }
  }
}
.homecleancare{
  &>.pack{
     &>.category{
       background-color: var(--shamrock);
     }
    &>.title{
        &>.circle{
          text-emphasis-color: rgb(121,218,170);
        }
       &>b{
           color: var(--shamrock);
          
       }
    }
    &>.list{
      &>.card{
        &>.number{
           background-color: var(--shamrock);
        }
      }
    }
  }
}
.businesscare{
  &>.pack{
    &>.category{
      background-color: #40ccc7;
    }
    &>.title{
      &>.circle{
        text-emphasis-color: #40ccc7;;
      }
      &>b{
        color: #40ccc7;;
      }
    }
    &>.list{
      &>.card{
        &>.number{
          background-color: #40ccc7;;
        }
      }
    }
  }
}
.aircareclean{
  padding-top: 0;
  height: 661px;
}
.jointclean{
  height: 1100px;
  &>.pack{
    width: 771px;
    &>.sub{
     white-space: nowrap;
    }
    &>.list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.birdclean,.bugclean{
  height: 804px;
  &>.pack{
    &>.title{
      margin-top: 13px;
    }
    &>.list{
      margin-top: 62px;
    }
  }
}
.airfilterclean{
  height: 1073px;
  padding-top: 190px;
  &>.pack{
    &>.list{
      row-gap: 14px;
      &>.card{
        height: 238px;
      }
    }
  }
}