.careone {
  height: 1482px;
  width: 100%;
  padding-top: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.careone > .pack > .category {
  background-color: var(--navy);
  width: 162px;
  height: 33px;
  font-family: 'gmarket';
  font-size: 11px;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.careone > .pack > .title {
  font-size: 30px;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1.33;
  color: var(--navy);
}

.careone > .pack > .title > .circle {
  font-size: 30px;
  text-emphasis-style: dot;
  text-emphasis-position: over left;
  -webkit-text-emphasis-style: dot;
  -webkit-text-emphasis-position: over;
  -webkit-text-emphasis-color: #76c7d3;
          text-emphasis-color: #76c7d3;
  position: relative;
}

.careone > .pack > .title > .circle > .circle-wrapper {
  position: absolute;
  top: 0;
}

.careone > .pack > .sub {
  font-size: 20px;
  margin-top: 17px;
}

.careone > .pack > .list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (237px)[4];
      grid-template-columns: repeat(4, 237px);
  -webkit-column-gap: 15px;
          column-gap: 15px;
  margin-top: 47px;
  row-gap: 53px;
}

.careone > .pack > .list > .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.careone > .pack > .list > .card > .number {
  position: absolute;
  top: -19px;
  width: 38px;
  height: 38px;
  border-radius: 38px;
  background-color: var(--navy);
  color: white;
  font-family: 'gmarket';
  font-weight: bold;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.careone > .pack > .list > .card > .title {
  margin-top: 8.2px;
  font-size: 18px;
  font-weight: 500;
}

.washclean {
  height: 1153px;
}

.washclean > .pack {
  padding: 0 125px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.washclean > .pack > .list {
  -ms-grid-columns: (237px)[3];
      grid-template-columns: repeat(3, 237px);
}

.hoodclean, .filterclean, .matclean {
  height: 1072px;
  padding-top: 183px;
}

.hoodclean > .pack, .filterclean > .pack, .matclean > .pack {
  padding: 0 125px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hoodclean > .pack > .list, .filterclean > .pack > .list, .matclean > .pack > .list {
  -ms-grid-columns: (237px)[3];
      grid-template-columns: repeat(3, 237px);
}

.airclean {
  height: 1195px;
  padding-top: 177px;
}

.airclean > .pack {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 125px;
}

.airclean > .pack > .list {
  -ms-grid-columns: (237px)[3];
      grid-template-columns: repeat(3, 237px);
}

.homecleancare > .pack > .category {
  background-color: var(--shamrock);
}

.homecleancare > .pack > .title > .circle {
  -webkit-text-emphasis-color: #79daaa;
          text-emphasis-color: #79daaa;
}

.homecleancare > .pack > .title > b {
  color: var(--shamrock);
}

.homecleancare > .pack > .list > .card > .number {
  background-color: var(--shamrock);
}

.businesscare > .pack > .category {
  background-color: #40ccc7;
}

.businesscare > .pack > .title > .circle {
  -webkit-text-emphasis-color: #40ccc7;
          text-emphasis-color: #40ccc7;
}

.businesscare > .pack > .title > b {
  color: #40ccc7;
}

.businesscare > .pack > .list > .card > .number {
  background-color: #40ccc7;
}

.aircareclean {
  padding-top: 0;
  height: 661px;
}

.jointclean {
  height: 1100px;
}

.jointclean > .pack {
  width: 771px;
}

.jointclean > .pack > .sub {
  white-space: nowrap;
}

.jointclean > .pack > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.birdclean, .bugclean {
  height: 804px;
}

.birdclean > .pack > .title, .bugclean > .pack > .title {
  margin-top: 13px;
}

.birdclean > .pack > .list, .bugclean > .pack > .list {
  margin-top: 62px;
}

.airfilterclean {
  height: 1073px;
  padding-top: 190px;
}

.airfilterclean > .pack > .list {
  row-gap: 14px;
}

.airfilterclean > .pack > .list > .card {
  height: 238px;
}
/*# sourceMappingURL=index.css.map */