.nav{
height: 72px;
 width: 100%;
 display: flex;
 justify-content: center;
 border-bottom: solid 1px #cbcbcb;
 &>.wrapper{
   height: 100%;
   display: flex;
   position: relative;
   &>button{
     display: flex;
     justify-content: center;
     width: 140px;
     background-color: unset;
     font-size: 15px;
     font-weight: 500;
     cursor: pointer;
     color: var(--brownish-grey);
     align-items: center;
   }
   &>.bar{
     width: 140px;
     height: 3px;
     background-color: var(--dark-sky-blue);
     position: absolute;
     bottom: -2px;
     left: 0;
     transition: left 0.2s ease-in-out;
   }
   .on{
     color: black;
     font-weight: bold;
   }
 }
}