.map{
  height: 1225px;
  padding-top: 168px;
  box-sizing: border-box;
  transform: scaleX(-1);
 &>.pack{
    padding-right: 73px;
    box-sizing: border-box;
    padding-top: 72px;
    position: relative;
    &>.back{
      transform: translateX(224px);
      top: 0;
      position: absolute;
    width: 100vw;
    height: 329px;
    background-color: var(--navy);
  }
  &>.content{
          transform: scaleX(-1);
          &>.category{
            font-family: 'gmarket';
            font-weight: bold;
            font-size: 15px;
            color: var(--dark-sky-blue);
          }
          &>.title{
            font-size: 35px;
            font-weight: 900;
            color: white;
            margin-top: 6px;
            margin-bottom: 23px;
          }
          &>.main{
              width: 766px;
  height: 470.4px;
          }
          &>.list{
            padding-left: 10px;
            box-sizing: border-box;
            margin-top: 25px;
            display: grid;
            row-gap: 25px;
            &>.wrapper{
              display: flex;
              align-items: center;
              
              &>.icon{
                width: 64px;
                height: 64px;
                margin-right: 15px;
              }
              &>.content-wrapper{
                &>.category{
                  font-family: 'gmarket';
                  color: var(--brown-grey);
                  margin-bottom: 5px;
                }
                &>.content{
                  font-size: 19px;
                  font-weight: 500;
                  color: var(--navy);
                }
              }
              &>.copy{
              width: 116px;
              height: 34px;
              border-radius: 17px;
              color: white;
              font-size: 15px;
              font-weight: 500;
              cursor: pointer;
              margin-left: 22px;
              align-self: flex-end;
              background-color: var(--dark-sky-blue);
              }
            }
          }
  }
 }
}