.homeclean{
    &>.banner{
    height: 370px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: image-set(url('/public/assets/homeclean/banner.png') 1x ,url('/public/assets/homeclean/banner@2x.png') 2x ,url('/public/assets/homeclean/banner@3x.png') 3x);
    text-align: center;
    padding-top: 234px;
    box-sizing: border-box;
    &>.title{
      font-size: 39px;
      font-weight: bold;
      color: white;
    }
  }
  &>.homecare{
    width: 100%;
    height: 1054px;
    position: relative;
    &>.pack{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 115px;
      box-sizing: border-box;
      &>.category{
          width: 109px;
  height: 33px;
  background-color: var(--shamrock);
   border-radius: 16.5px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'gmarket';
   color: #f8f8f8;
   font-size: 11px;
      }
      &>.title{
        text-align: center;
        font-size: 35px;
        font-weight: 500;
        line-height: 1.31;
        color: var(--navy);
        margin-top: 11px;
      }
      &>.list{
        margin-top: 68px;
        display: grid;
        grid-template-columns: repeat(2,450px);
        column-gap: 15px;
        row-gap: 51px;
        &>.card{
          height: 240px;
          width: 100%;
            box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.16);
              border-radius: 20px;
              background-color: white;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 97px;
          box-sizing: border-box;
          &>img{
            width: 111px;
            height: 111px;
            position: absolute;
            top: -30px;
          }
          &>.title{
            font-size: 23px;
          }
          &>.line{
            width: 256px;
            height: 1px;
            background-color: #e0e0e0;
            margin-top: 8px;
            margin-bottom: 14px;
          }
          &>.content{
            font-size: 13px;
            line-height: 1.46;
            white-space: pre-line;
          }
        }
      }
    }
    &>.back{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 609px;
          background-color: rgb(230, 249, 239);
          z-index: -1;
    }
  }
  &>.matservice{
    background-color: #f8f8f8;
    width: 100%;
    height: 883px;
    padding-top: 173px;
    box-sizing: border-box;
    &>.pack{
      width: 825px;
      &>.title-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &>.right{
          width: 153px;
        }
        &>.left{
          &>.category{
            margin-bottom: 15px;
              width: 155px;
  height: 33px;
  background-color: var(--shamrock);
    border-radius: 16.5px;
    color: white;
    font-size: 11px;
    font-family: 'gmarket';
   display: flex;
   align-items: center;
   justify-content: center;
          }
          &>.title{
            font-size: 33px;
            line-height: 1.39;
            color: var(--navy);
          }
        }
      }
      &>.content{
        margin-top: 48px;
        width: 100%;
        display: grid;
        grid-template-rows: repeat(7,53px);
        row-gap: 1px;
        &>.content-head{
            background-color: var(--shamrock);
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
        &>.card{
         width: 100%;
         background-color: white;
         display: flex;
         align-items: center;
         padding-left: 253px;
         box-sizing: border-box;
         font-size: 18px;
         font-weight: 500;
         &>.title{
           width: 120px;
           margin-right: 69px;
         }
        }
      }
    }
  }
  &>.jointservice{
    width: 100%;
    height: 1100px;
    background-color: #f8f8f8;
    padding-top: 101px;
    box-sizing: border-box;
    &>.pack{
      display: flex;
      flex-direction: column;
      align-items: center;
      &>.category{
          width: 155px;
  height: 33px;
    background-color: var(--shamrock);
      border-radius: 16.5px;
      font-family: 'gmarket';
      font-size: 11px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      }
      &>.title{
        text-align: center;
        font-size: 35px;
        line-height: 1.31;
        color: var(--navy);
        margin-top: 14px;
        margin-bottom: 52px;
      }
      &>.content-wrapper{
        display: grid;
        grid-template-columns: repeat(2,489px);
        column-gap: 15px;
        &>.card{
          height: 400px;
          &>.card-head{
            width: 100%;
            height: 81px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            &>b{
              font-size: 22px;
            }
            &>span{
              font-size: 14px;
              font-weight: 500;
            }
          }
          &>.wrapper{
            background-color: white;
            margin-top: 1px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            &>.name{
              width: 93px;
              font-size: 18px;
              margin-right: 27px;
              white-space: nowrap;
            }
            &>.content{
              font-size: 18px;
              font-weight: 500;
              line-height: 1.33;
            }
          }
        }
        &>.one{
          &>.card-head{
            background-color: var(--shamrock);
          }
          &>.wrapper{
            height: 159px;
            padding-left: 26px;
          }
        }
        &>.two{
          &>.card-head{
            background-color: #1b6a48;
          }
          &>.big{
            height: 136px;
          }
          &>.small{
            height: 60px;
          }
          &>.wrapper{
            padding-left: 30px;
          }
        }
      }
      &>.notice{
        margin-top: 30px;
        width: 100%;
        height: 238px;
        display: grid;
        grid-template-rows: repeat(2,58px);
        row-gap: 45px;
        background-color: rgb(236, 236, 236);
        align-items: center;
        padding-left: 49px;
        box-sizing: border-box;
        padding-top: 39px;
        &>.wrapper{
          display: flex;
          align-items: center;
          &>img{
            width: 30px;
            margin-right: 24px;
          }
          &>.title{
            font-size: 20px;
            line-height: 1.45;
            &>.red{
              color: #ff5555;
            }
          }
        }
      }
    }
  }
  &>.birdservice{
    background-color: #f8f8f8;
    width: 100%;
    height: 757px;
    padding-top: 118px;
    box-sizing: border-box;
    &>.pack{
      display: flex;
      flex-direction: column;
      align-items: center;
          position: relative;
      &>.category{
          width: 155px;
  height: 33px;
  background-color: var(--shamrock);
    border-radius: 16.5px;
    color: white;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'gmarket';
      }
      &>.title{
        font-size: 35px;
        color: var(--navy);
        margin-top: 12px;
        margin-bottom: 95px;
      }
        &>.number-wrapper{
          display: flex;
          width: 100%;
            position: absolute;
            font-size: 60px;
            font-family: 'nexon';
            color: var(--shamrock);
            top: 145px;
            box-sizing: border-box;
            padding-left: 90px;
            &>.one{
              margin-right: 198px;
            }
            &>.two{
              margin-right: 299px;
            }
          }
      &>.wrapper{
        display: grid;
        grid-template-columns: 252px 252px 441px;
        column-gap: 24px;
        &>.card{
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
              border-radius: 15px;
          height: 324px;
          overflow: hidden;
          &>.card-head{
            width: 100%;
            height: 71px;
            background-color: var(--shamrock);
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 22px;
            
          }
          &>.img-wrapper{
            height: 253px;
            display: flex;
            align-items: center;
            justify-content: center;
            &>img{
              width: fit-content;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width : 1024px) {
.homeclean{
  &>.banner{
    height: 299px;
    padding-top: 210px;
    &>.title{
      font-size: 30px;
    }
  }
  &>.homecare{
    height: 881px;
    &>.pack{
      padding-top: 105px;
      &>.title{
        font-size: 25px;
      }
      &>.list{
        margin-top: 62px;
        grid-template-columns: repeat(2,344px);
        grid-template-rows: 190px 201px;
        gap: 70px 16px;
        &>.card{
          height: 100%;
          padding-top: 60px;
          &>img{
            width: 85px;
            height: 85px;
            top: -40px;
          }
          &>.title{
            font-size: 18px;
          }
          &>.content{
            text-align: center;
          }
          
        }
        &>.card:nth-child(2){
          &>.line{
            width: 259px;
          }
        }
                &>.card:nth-child(3){
          &>.line{
            width: 259px;
          }
        }
              &>.card:nth-child(1){
          &>.line{
            width: 196px;
          }
        }
                   &>.card:nth-child(4){
          &>.line{
            width: 196px;
          }
        }
      }
    }
    &>.back{
      height: 513px;
    }
  }
}

}
@media screen and (max-width : 767px) {
  .homeclean{
    &>.banner{
      height: 209px;
      padding-top: 117px;
      &>.title{
        font-size: 23px;
      }
    }
    &>.homecare{
      height: 1422px;
      &>.pack{
        padding-top: 106px;
       &>.list{
         grid-template-columns: 320px;
         grid-template-rows: 164px 192px 192px 228px;
         row-gap: 66px;
         &>.card{
           padding-top: 49px;
           &>img{
             width: 73px;
             height: 73px;
           }
           &>.title{
             font-size: 20px;
           }
           &>.line{
             width: 280px;
           }
         }
       }
      }
      &>.back{
        height: 1169px;
      }
    }
  }
}