
.header{
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 44px 100px 44px 100px;
      display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
   transition:background-color 0.3s ease-in-out;
&>a {
   &> .logo {
   width: 168px;
   cursor: pointer;
 }
}
 &>.link-wrapper{
   display: grid;
   grid-template-columns: repeat(5,auto);
   column-gap: 39px;
   &>a{
     white-space: nowrap;
    color: var(--navy);
    font-size: 16px;
    font-weight: bold;
   }
 }
}
@media screen and (max-width : 1024px) {
  .header{
    padding: 36px 32px 36px 32px;
    &>a{
      &>.logo{
        width: 127px;
      }
    }
    &>.link-wrapper{
      column-gap: 27px;
      &>a{
        font-size: 13px;
      }
    }
  }

}