.partner > .banner {
  height: 370px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-image-set(url("/public/assets/partner/banner.png") 1x, url("/public/assets/partner/banner@2x.png") 2x, url("/public/assets/partner/banner@3x.png") 3x);
  background-image: image-set(url("/public/assets/partner/banner.png") 1x, url("/public/assets/partner/banner@2x.png") 2x, url("/public/assets/partner/banner@3x.png") 3x);
  text-align: center;
  padding-top: 234px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner > .banner > .title {
  font-size: 39px;
  font-weight: bold;
  color: white;
}

.partner > .section1 {
  height: 1096px;
  position: relative;
}

.partner > .section1 > .back {
  z-index: -1;
  width: 100%;
  height: 372px;
  background-color: #f8f8f8;
  position: absolute;
  left: 0;
  bottom: 0;
}

.partner > .section1 > .pack {
  padding-top: 58px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner > .section1 > .pack > .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partner > .section1 > .pack > .top > .left {
  padding-top: 198px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 67px;
}

.partner > .section1 > .pack > .top > .left > .category {
  width: 168px;
  border-radius: 16.5px;
  font-weight: bold;
  font-family: 'gmarket';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 33px;
  background-color: var(--navy);
  color: white;
  font-size: 11px;
}

.partner > .section1 > .pack > .top > .left > .title {
  font-size: 35px;
  line-height: 1.26;
  color: var(--navy);
  white-space: nowrap;
  margin: 12px 0;
}

.partner > .section1 > .pack > .top > .left > .sub {
  font-size: 16px;
  line-height: 1.63;
}

.partner > .section1 > .pack > .top > .right {
  width: 676px;
}

.partner > .section1 > .pack > .bottom {
  margin-top: 88px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (237px)[4];
      grid-template-columns: repeat(4, 237px);
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.partner > .section1 > .pack > .bottom > .card {
  height: 350px;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 28px;
  padding-top: 25px;
  position: relative;
  overflow: hidden;
}

.partner > .section1 > .pack > .bottom > .card > img {
  width: 53px;
}

.partner > .section1 > .pack > .bottom > .card > .title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  white-space: pre-line;
  margin-top: 30px;
}

.partner > .section1 > .pack > .bottom > .card > .sub {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  height: 159px;
  width: 100%;
  padding-top: 20px;
  padding-left: 29px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 1.69;
}

.partner > .section1 > .pack > .bottom > .card:nth-child(odd) {
  background-color: var(--navy);
}

.partner > .section1 > .pack > .bottom > .card:nth-child(odd) > .title {
  color: white;
}

.partner > .section1 > .pack > .bottom > .card:nth-child(even) {
  background-color: var(--dark-sky-blue);
}

.partner > .section2 {
  height: 1848px;
  width: 100%;
}

.partner > .section2 > .pack {
  height: 100%;
  position: relative;
  padding-top: 289px;
}

.partner > .section2 > .pack > .back {
  z-index: -1;
  position: absolute;
}

.partner > .section2 > .pack > .back > div {
  width: 100vw;
  height: 258px;
  background-color: #d9f1f6;
}

.partner > .section2 > .pack > .first {
  top: 246px;
  right: 550px;
}

.partner > .section2 > .pack > .second {
  right: 450px;
  top: 995px;
}

.partner > .section2 > .pack > .second > div {
  height: 322px;
  background-color: #ededed;
}

.partner > .section2 > .pack > div > .img-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (382px)[3];
      grid-template-columns: repeat(3, 382px);
  -webkit-column-gap: 17px;
          column-gap: 17px;
}

.partner > .section2 > .pack > .one > .title {
  font-size: 35px;
  line-height: 1.17;
  color: var(--navy);
}

.partner > .section2 > .pack > .one > .sub {
  margin-top: 13px;
  font-size: 17px;
  margin-bottom: 33px;
}

.partner > .section2 > .pack > .two {
  margin-top: 336px;
}

.partner > .section2 > .pack > .two > .title {
  font-size: 35px;
  font-weight: 500;
  line-height: 1.29;
  color: var(--navy);
  margin-bottom: 19px;
}

.partner > .section2 > .pack > .two > .sub {
  margin-bottom: 66px;
  font-size: 17px;
  line-height: 1.53;
}

.partner > .section3 {
  height: 1586px;
}

.partner > .section3 > .pack {
  position: relative;
  padding-top: 86px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner > .section3 > .pack > .back {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.partner > .section3 > .pack > .back > div {
  width: 100vw;
  height: 272px;
  background-color: var(--navy);
}

.partner > .section3 > .pack > .category {
  width: 136px;
  height: 33px;
  background-color: #76c7d3;
  border-radius: 16.5px;
  font-size: 11px;
  font-weight: bold;
  font-family: 'gmarket';
  color: var(--navy);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner > .section3 > .pack > .title {
  color: white;
  font-size: 35px;
  font-weight: 500;
  margin-top: 6px;
}

.partner > .section3 > .pack > .list {
  margin-top: 68px;
  display: -ms-grid;
  display: grid;
  row-gap: 113px;
}

.partner > .section3 > .pack > .list > .card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.partner > .section3 > .pack > .list > .card > img {
  width: 496px;
}

.partner > .section3 > .pack > .list > .card > .content {
  position: absolute;
}

.partner > .section3 > .pack > .list > .card > .content > .title {
  position: relative;
  background-color: var(--dark-sky-blue);
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner > .section3 > .pack > .list > .card > .content > .title > .number {
  position: absolute;
  color: var(--dark-sky-blue);
  font-size: 66px;
  font-weight: 300;
  font-family: 'nexon';
  top: -55px;
}

.partner > .section3 > .pack > .list > .card > .content > .sub {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 1.71;
}

.partner > .section3 > .pack > .list > .first > .content {
  top: 120px;
  left: 470px;
}

.partner > .section3 > .pack > .list > .first > .content > .title {
  width: 360px;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner > .section3 > .pack > .list > .first > .content > .title > .number {
  left: 45px;
}

.partner > .section3 > .pack > .list > .first > .content > .sub {
  padding-left: 45px;
  padding-top: 22px;
}

.partner > .section3 > .pack > .list > .second {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.partner > .section3 > .pack > .list > .second > .content {
  top: 80px;
  left: 100px;
}

.partner > .section3 > .pack > .list > .second > .content > .title {
  width: 422px;
  height: 65px;
  padding-left: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partner > .section3 > .pack > .list > .second > .content > .title > .number {
  left: 0;
}

.partner > .section3 > .pack > .list > .second > .content > .sub {
  padding-left: 23px;
  padding-top: 22px;
}

.partner > .section3 > .pack > .list > .third > .content {
  top: 100px;
  right: 60px;
}

.partner > .section3 > .pack > .list > .third > .content > .title {
  width: 487px;
  height: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partner > .section3 > .pack > .list > .third > .content > .title > .number {
  right: 0;
}

.partner > .section3 > .pack > .list > .third > .content > .sub {
  padding-left: 75px;
  padding-top: 22px;
}
/*# sourceMappingURL=index.css.map */