.product{
  width: 100%;
  &>.banner{
    height: 370px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: image-set(url('/public/assets/product/banner.png') 1x ,url('/public/assets/product/banner@2x.png') 2x ,url('/public/assets/product/banner@3x.png') 3x);
    text-align: center;
    padding-top: 234px;
    box-sizing: border-box;
    &>.title{
      font-size: 39px;
      font-weight: bold;
      color: white;
    }
  }
  &>.aircon{
    &>.section1{
      height: 741px;
      width: 100%;
      &>.pack{
        height: 100%;
        position: relative;
         transform: scaleX(-1);
         &>.back{
           left: 400px;
           top: 305px;
           position: absolute;
           height: 306px;
           width: 100vw;
           background-color: var(--navy);
           z-index: -1;
         }
         &>.backimg{
                    transform: scaleX(-1);
           position: absolute;
            width: 683px;
           height: 454px;
           top: 93px;
           z-index: -2;
           left: -200px;
         }
         &>.content-wrapper{
           color: white;
          transform: scaleX(-1);
          padding-left: 52.8px;
          padding-top: 346px;
          &>.title{
            font-size: 35px;
            font-weight: 500;
              line-height: 1.26;
              
          }
          &>.line{
            width: 24px;
            height: 4px;
            background-color: white;
            margin-top: 18px;
            margin-bottom: 9px;
          }
          &>.sub{
              line-height: 1.59;
              font-size: 17px;
          }
         }
      }
    }
    &>.section2{
    height: 1145px;
    width: 100%;
    position: relative;
     &>.back{
       position: absolute;
       z-index: -1;
         height: 942px;
         width: 100%;
         background-color: #f8f8f8;
         bottom: 0;
         left: 0;
     }
     &>.pack{
       display: flex;
       flex-direction: column;
       align-items: center;
       &>.title{
         text-align: center;
          line-height: 1.43;
          font-size: 30px;
          color: var(--navy);
       }
       &>.circle-wrapper{
         margin-top: 41px;
         display: grid;
         grid-template-columns: repeat(4,148px);
         column-gap: 31px;
         &>.circle{
           text-align: center;
           &>.title{
             margin-top: 28px;
             font-size: 18px;
             font-weight: bold;
             color: var(--navy);
           }
         }
       }
       &>.content{
         font-size: 32px;
         font-weight: 500;
         color: var(--navy);
         margin-top: 192px;
         text-align: center;
           line-height: 1.34;
       
       }
       &>.check-box{
         margin-top: 48px;
           width: 522px;
  height: 335px;
         background-color: white;
         position: relative;
         display: flex;
         align-items: center;
           box-shadow: 0 3px 6px 0 rgba(0, 26, 61, 0.13);
           border-radius: 11px;
            justify-content: center;
         &>.title{
             width: 180px;
  height: 45px;
           background-color: var(--navy);
           font-size: 18px;
           font-family: 'gmarket';
           font-weight: bold;
           color: var(--dark-sky-blue);
           display: flex;
           align-items: center;
           justify-content: center;
           border-radius: 23px;
           align-self: center;
           top: -22px;
           position: absolute;
         }
         &>.check{
           margin-right: 14.2px;
           display: grid;
           row-gap: 20px;
           &>img{
               width: 34px;
           }
         }
         &>.content{
           line-height: 2.2;
           font-size: 23px;
           &>b{
            background-color: rgb(173, 221, 228);
            
           }
         }
       }
     }
    }
  }
}