.product {
  width: 100%;
}

.product > .banner {
  height: 370px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: -webkit-image-set(url("/public/assets/product/banner.png") 1x, url("/public/assets/product/banner@2x.png") 2x, url("/public/assets/product/banner@3x.png") 3x);
  background-image: image-set(url("/public/assets/product/banner.png") 1x, url("/public/assets/product/banner@2x.png") 2x, url("/public/assets/product/banner@3x.png") 3x);
  text-align: center;
  padding-top: 234px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product > .banner > .title {
  font-size: 39px;
  font-weight: bold;
  color: white;
}

.product > .aircon > .section7 {
  position: relative;
  width: 100%;
  height: 780px;
  padding: 0px;
  background-color: #d6f0f5;
  padding-top: 84px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product > .aircon > .section7 > .pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product > .aircon > .section7 > .pack > .category {
  width: 155px;
  height: 33px;
  background-color: var(--navy);
  border-radius: 20px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  font-family: 'gmarket';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product > .aircon > .section7 > .pack > .title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 25px;
}

.product > .aircon > .section7 > .pack > .list {
  width: 855px;
  height: 406px;
  background-color: white;
  -webkit-box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.13);
          box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.13);
  border-radius: 13px;
  padding: 52.8px 38.5px 39.2px 43.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product > .aircon > .section7 > .pack > .list > .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product > .aircon > .section7 > .pack > .list > .card > .number {
  font-family: 'nexon';
  font-size: 40px;
  color: var(--dark-sky-blue);
  width: 52px;
  margin-right: 19px;
}

.product > .aircon > .section7 > .pack > .list > .card > .title {
  font-size: 18px;
  font-weight: 500;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.product > .aircon > .section7 > .pack > .list > .card > .title > b {
  color: var(--dark-sky-blue);
}

.product > .aircon > .section7 > .pack > .list > .line {
  margin-top: 7px;
  margin-bottom: 13px;
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
}

.product > .aircon > .section7:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 50px 40px 0;
  border-color: #d6f0f5 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -50px;
  left: 48%;
}

.product > .aircon > .section8 {
  width: 100%;
  height: 1200px;
  background-color: #f8f8f8;
  padding-top: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product > .aircon > .section8 > .pack > .title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.37;
  color: var(--navy);
  text-align: center;
}

.product > .aircon > .section8 > .pack > .list {
  display: -ms-grid;
  display: grid;
  margin-top: 57px;
  row-gap: 48px;
}

.product > .aircon > .section8 > .pack > .list > .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product > .aircon > .section8 > .pack > .list > .card > img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 37px;
}

.product > .aircon > .section8 > .pack > .list > .card > .content {
  width: 561px;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .title {
  width: 100%;
  height: 53px;
  background-color: var(--dark-sky-blue);
  padding-left: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 22px;
  font-weight: bold;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .width-line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .subject {
  height: 55.5px;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 31px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .subject b {
  font-size: 18px;
  color: var(--dark-sky-blue);
  margin-right: 15px;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .two > .left {
  width: 219px;
  border-right: solid 1px #e0e0e0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .two > .right {
  padding-left: 30.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .third {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: unset;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .third > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.product > .aircon > .section8 > .pack > .list > .card > .content > .third > div:nth-child(n+2) {
  border-left: solid 1px #e0e0e0;
}
/*# sourceMappingURL=index.css.map */